html{
  scroll-behavior: smooth;
}
body{
  background-color: #f6fbff !important;
  color: #3b3b3b !important;
}
.MuiTypography-subtitle1{
  color: #5a5a5a !important;
}
@media (max-width:600px){
  *{
    font-size: 10px;
  }
}
/* @media (max-width:920px){
  *{
    font-size: 12px;
  }
} */
